parameters:
	level: 5
	paths:
		- bin
		- src
		- tests
	ignoreErrors:
	    - '#Call to an undefined static method Illuminate\\Database\\Capsule\\Manager::.*\(\)#'
	    - '#Call to an undefined static method think\\facade\\Db::query\(\)#'
	    - '#Call to an undefined method think\\db\\BaseQuery::inc\(\)#'
	    - '#Call to an undefined method think\\db\\BaseQuery::dec\(\)#'
	    - '#Call to an undefined method think\\db\\ConnectionInterface::query\(\)#'