<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
    <testsuites>
        <testsuite name="think">
            <directory>./tests/think/</directory>
        </testsuite>
        <testsuite name="illuminate">
            <directory>./tests/illuminate/</directory>
        </testsuite>
        <testsuite name="hyperf">
            <directory>./tests/hyperf/</directory>
        </testsuite>
    </testsuites>
</phpunit>
